# Dependências do Node.js
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretórios de build
/dist/
/build/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Configurações de IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Arquivos temporários
*.tmp
*.swp
*.bak

# Ambiente
.env
.env.* 